<table style="border-collapse: collapse;
              table-layout: fixed;">
    {% for row in data %}
        <tr style="display: flex;">
            {% for element in row %}
                <td style="border: 2px black solid; 
                          height: 80px;
                          width: 80px; 
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          background-color: {{ element.color }} ">
                    <span style="font-size: 5em;">
                        {{' ' if element.piece == None else element.piece.piece_abbreviation}}
                    </span>
                <td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>